body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.instructions h1 {
  font-size: 36px;
  font-weight: 700;
  margin-left: 2rem;
}

.instructions {
  background-color: #29b6f6;
  padding: 5px;
  color: #ece7e7;
}

/* Form Styling */

.formHeader {
  text-align: center;
}

.formDescription {
  text-align: center;
  justify-content: center;
}

.signUpForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.getStarted {
  text-align: center;
  grid-column: 1 / 3;
  grid-row: 4
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  margin: 10px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
  background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.navbar {
  font-size: 1.25rem;
  background-color: #29b6f6;
  width: 100%;
  border-radius: 0px;
}

.navbar a {
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.navbar a:hover {
  text-decoration: none;
  transform: scale(1.1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

li a:hover {
  text-decoration: underline;
  color: #eee;
}

/* Landing Page About Text */

.aboutSection {
  background: black;
  opacity: 0.8;
}

.about {
  height: 25vh;
  color: white;
  width: 600px;
  text-align: center;
  font-size: 2rem;
  margin: 0 auto;
}
